.calendar {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 15px;
    padding: 20px 0;
    overflow-x: auto;
  }
  
  .calendar_day {
    flex: 0 0 300px;
    padding: 0 20px;
  }
  
  .calendar_day_label {
    font-size: 16px;
    margin: 0 0 15px;
    text-align: center;
  }
  
  .calendar_day_label span {
    background: #93e29f;
    border-radius: 4px;
    color: #272343;
    display: inline-block;
    font-weight: bold;
    padding: 4px 8px;
  }
  
  